body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    line-height: 1.6;
}

h1, h2 {
    color: #3498db;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    bottom: 0;
    width: 100%;
}
